body {
    height:100%;
    width:100%;
    margin:0;padding:0;
}
 
#wrapper {
    width:100%;
    height: 100%;
    position:relative;
    top:5%;left:0;
    padding-bottom: 85px;
    background-color:#FFF;
    overflow:hidden;
    min-height: 100%;
}
 
    #mask {
        width:500%;
        /*height: 100%; */
        overflow: auto;
        background-color:#FFF;
    }
 
    .item {
        width:20%;
        /*height:100%;*/
        float:left;
        background-color:#fff;
    }
     

    .content {
        width:80%;
        top:10%;
        margin:0 auto;
        background-color:#fff;
        position:relative;

    }
     
    .selected {
        background:#fff;
        font-weight:700;
    }
 
    .clear {
        clear:both;
    }

    

    img {
    width: 100%;
}

.title {
    text-align: center;
    padding-top: 50px;
    width: 45%;
    position: relative;
    margin: 0 auto;
    
}
    p{
        text-align: center;
    }

@media all and (min-width: 961px) {
    .galleryNav {
        position: relative;
        bottom: 30%;
        text-align: center;
    }

    .galleryNav a:visited {
        color: blue;
    }
}
@media all and (max-width: 960px) {
    .galleryNav {
        position: relative;
        bottom: 5%;
        text-align: center;
    }

}


#footer {f
    height: 45px;
    position: relative;
    margin-top: -45px; /* negative value of footer height */
    clear:both;
    bottom: 0px;
    background: white;
    
}