body {
    height:100%;
    width:100%;
    margin:0;padding:0;
}
 
#wrapper {
    width:100%;
    height: 100%;
    position:relative;
    top:5%;left:0;
    padding-bottom: 85px;
    background-color:#FFF;
    overflow:hidden;
    min-height: 100%;
}
 
    #mask {
        width:500%;
        /*height: 100%; */
        overflow: auto;
        background-color:#FFF;
    }
 
    .item {
        width:20%;
        /*height:100%;*/
        float:left;
        background-color:#fff;
    }
     

    .content {
        width:80%;
        top:10%;
        margin:0 auto;
        background-color:#fff;
        position:relative;

    }
     
    .selected {
        background:#fff;
        font-weight:700;
    }
 
    .clear {
        clear:both;
    }

    

    img {
    width: 100%;
}

.title {
    clear: both;
    text-align: center;
    padding-top: 5px;
    width: 45%;
    position: relative;
    margin: 0 auto;
    
}
    p{
        text-align: center;
    }
.galleryNav a:visited {
        color: #5587A8;
    }


@media all and (min-width: 1025px) {
    .galleryNav {
        display: block;
        text-align: right;
        position: relative;
        top: 1%;
        right: 4.5%;
        
        margin: 10px 0px 0px 0px;
    }

    
}
@media all and (max-width: 1024px) {
    .galleryNav {
        display: block;
        text-align: right;
        font-size: 12px;
        color: blue;
        
        position: relative;
        right: 4.5%;
        margin: 10px 0px 0px 0px;
    }

    .content {
        width: 95%;
    }
    .title {
        width: 70%;
    }

}

@media all and (max-width: 640px) {
    .galleryNav {
        margin: 55px auto 0px auto;
    }
}


#footer {f
    height: 45px;
    position: relative;
    margin-top: -45px; /* negative value of footer height */
    clear:both;
    bottom: 0px;
    background: white;
    
}