html, body {
	margin: 0;
	padding: 0;
	background: white;
	font-family: didot, cochin, times new roman;
	height: 100%;
}

h1 {
	font-size: 20px;
	color: #666666;
	padding: 60px 28px;
	display: block;
	text-indent: -999999px;
}



h2 {
	font-size: 23px;
	color: #C7C7C7;
}

h3.signature {
	text-align: right;

}
p {
	font-size: 14px;
	line-height: 19px;
	text-align: left;
	color: #333333;
}

p.imageTitle {
	margin-top: 25px;
	text-align: center;

}
nav {
	margin-top: 95px;
}
nav li {
	float: left;
	width: 100px;
}
nav li a {
	margin-left: -40%;
	display: block;
	width: 85px;
	padding: 0 4px;
	background: #FFF;
	text-decoration: none;
	text-align: justify;
	color: #333;
}

nav li a:hover {
	color: black;
}
header {
	height: 121px;
	width: 98%;
	border-bottom: 1px solid #CCCCCC;
	overflow: hidden;
}

#footer {
	border-top: 1px solid #CCCCCC;
	color: #000000;
	width: 98%;
	text-align: right;
	text-indent: 20px;
	position: relative;
	margin-top: -45px; /* negative value of footer height */
	height: 45px;
	clear:both;
}
.invisible {
	display: none;
}
#wrapper {
	min-height: 100%;
	/*height: 100%;
	margin: 0 auto;*/
}
#main {
	overflow:auto;
	padding-bottom: 45px;
}
.logo {
	
	background: url('../images/6x17logo_v2_min2.jpg') no-repeat;
	margin-top: 10px;
	position: relative;
	left: 100px;
	width: 100px;
}
.homelink {
	text-align: center;
	text-decoration: none;
	width: 100%;
}

.center {
	margin: 0 auto;
	width: 100%;
}
img {
	
}
img.main {
	width:100%;
	margin-top: 100px;
	margin-bottom: 30px;
}

img.thumbnail {
	width: 100%;
	margin-top: 50px;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}


